{% extends 'blog/base.html' %}

{% block content %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell small-12">
                <h1>Create New Post</h1>
            </div>

            <div class="cell small-12">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="grid-x grid-padding-x">
                        <!-- Loop through each field in the form -->
                        {% for field in form %}
                            <div class="cell small-12">
                                <label for="{{ field.id_for_label }}">{{ field.label }}
                                    {{ field }}
                                </label>
                                <!-- Display field errors -->
                                {% if field.errors %}
                                    <p class="help-text" style="color: red;">{{ field.errors }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="grid-x grid-padding-x">
                        <div class="cell small-12 text-right">
                            <button type="submit" class="button primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
